.img-me {
    width: 100%;
}

@media (min-width: 786px) {
    .left-align {
        text-align: left;
    
    }

    .left-align-p {
        text-align: left;
    }
    
    .left-icon {
        float: left;
        align-self: center;
        padding: 20px 60px 50px 20px;
    }
    
}

@media (min-width: 1000px) {
    .left-align-p {
        margin-bottom: 30px;
    }
}