.view-all {
    margin-top: 25px;
    margin-bottom: 25px;
}    
    .icon-grid {
        margin-right: 15px;
        font-size: 22px;
}
.card {
    padding: 35px;
    margin: 10px;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.3s;
    transition-property: opacity, transform;
}
    .card:hover {
        transform: translateY(-7.5px);
        background: linear-gradient(20deg, rgb(131, 64, 255) 20%, rgb(131, 64, 255) 11%, rgb(89, 0, 255) 80%);
        color: white;
    }
        .card:hover > p {
            color: white;
        }
        .card:hover > .icon {
            color: white;
        }
        .card:hover > h3 {
            color: white;
        }
    .arrow {
        color: #888;
        font-size: 25px;
        line-height: 25px;
    }