

.skill-container {
    opacity: 1;
    animation: show;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.skill-container.animate {
    opacity: 1;
    animation: show;
    animation-duration: 1s;
    animation-iteration-count: 1;
}    
    @keyframes show {
        from {
            opacity: 0;
            transform: translateY(100px);
        }
        to {
        opacity: 1;
        transform: translateY(0);
        }
    }
    .skill-gauge {
        margin: 30px 0 20px;
        position: relative;
    }
        .skill-gauge > .gauge-progress {
            transform: rotate(-180deg);
        }
            .gauge-progress > svg {
                width: 120px;
                height: 120px;
            }
                svg > .background {
            
                    stroke-width: 10;
                    fill: none;
                    width: 100px;
                    height: 100px;
                }
                svg > .circle-progress {
             
                    stroke-width: 10;
                    fill: none;
                }
        .skill-gauge > .gauge-value {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .gauge-value > h3 {
                color: #888;
                font-weight: 700;
                font-size: 30px;
            }
            .gauge-value > span {
                margin-top: 10px;
                color: #888;
                font-weight: 700;
                font-size: 15px;
            }
    .skill-name {
        margin: 24px 0 30px;
        font-size: 19px;
        color: black;
        font-weight: 700;
        text-align: center;
    }