body{
    background-color: #F5F5F5;
    text-align: center;
}

h1{
    padding: 80 0  ;
    color : #5900FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
