
.icon {
    color: #7328FF;
    width:35px;
    height:35px;
    padding: 45px 0;
    font-size: 35px;
}
.h3 {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}
.grey-text {
color: #6F6F6F;
}

@media (min-width: 420px) {
    .media {
        width: 390px;
    }
}
@media (min-width: 900px) {
    .media {
        width: 250px;

    }
}