.container.bg-dark {
    padding: 90px 0px;
}
    .txt-center > .btm-title {
            color: white;
            font-size: 25px;
    }
        .l-log {
            font-size: 35px;
        }

ul {
    list-style: none;
}


.container.bg-black {
    padding: 20px 0;
}
    a {
        text-decoration: none;
        color: #5900FF;    
    }
