.container.bg-dark {
    padding: 90px 0px;
}
    .txt-center {
        text-align: center;     
    }
        .bot-title {
            color: white;
            font-size: 30px;        
        }
            .lev-log {
                font-size: 40px; /* modify Leverage color*/
            }
.bot-nav {
    list-style: none;
}
    .nav-item {
        font-size: 17px; 
    }
        .nav-link {
            color: #8e8e8e;
            margin: 5px 5px;
            padding: 5px 5px;
        }
            .nav-link:hover {
                color: #5900FF;
            }

.bot-share .fa {
    width: 25px;
    height: 25px;
    padding: 5px;
    color: #5900FF;
    font-size: 17px;
    margin: 10px 0px;
}

.fa {
    margin: 10px 0px;
    color: #8e8e8e;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 17px;
}
    
.tag-item {
        display: inline-block;
        color: #8e8e8e;
        margin: 0px 5px 10px 0px;
        padding: 5px 15px;
        border: solid 1px;
        border-radius: 2px;
        font-size: 17px;
    }
        .tag-item:hover {
            color: #5900FF;
        }

.container.bg-black {
    padding: 20px 0;
}
    a {
        text-decoration: none;
        color: #5900FF;    
    }



