.logo {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    padding: 10px 0;
}
    span {
        color:blue;
        display: inline-block;
   }
      .navbar {
          display: grid;
          grid-auto-flow: column;
          background-color: #F5F5F5;
          grid-gap: 1em;
    }

  .links {
      display: grid;
      align-content: center;
      grid-auto-flow: column;
      grid-gap: 1.5em;
      font-size: 15px;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 25px 0;
      white-space: nowrap;
  }
  .fa .fa-rocket {
      padding: 10px 10px;
  }    a {
      color: #333 !important;
      padding: 10px 10px;
    }