.hero {
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 0;
}
    .heroContent{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .hero img {
            position: absolute;
            bottom: 0;
            width: auto;
            height: 80%;
        }
            .heroText {
                position: absolute;
                text-align: center;
                
            }
                h1 {
                    width: 350px;
                    margin: 0 calc(50% - 175px);
                    font-size: 50px;
                    color: #7F39FF;
                    margin-bottom: 20px;
                }
                .heroText > p {
                    padding: 20px 0px;
                }
@media(min-width:786px){
    .heroText {
        position: absolute;
        text-align: left;
        width: 60%;
        left: 0%;
    }
    h1 {
        text-align: left;
        margin-left: 0;
    }
    .heroText > p {
        text-align: left;
        
    }
    .hero img {
        right: 0%;
    }
}
