body {
    display: grid;
    grid-template-columns: 1fr;
}

.container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    padding: 80px 0;
}
    .container > .row {
        grid-column: 2/3;
    }

@media (min-width: 520px) {
    .container {
        grid-template-columns: 40px 1fr 40px;
    }
}
@media (min-width: 786px) {
    .container {
        grid-template-columns: 1fr 680px 1fr;
    }
}
@media (min-width: 1000px) {
    .container {
        grid-template-columns: 1fr 900px 1fr;
    }
}
@media (min-width: 1400px) {
    .container {
        grid-template-columns: 1fr 1300px 1fr;
    }
}