
.container.video > .video-background {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: black;
    display: none;
}   
    .video-box{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
            .video-header {
                /*display: inline-block;   Galbut nereikes*/ 
                width: 100%;
                position: absolute;
            }
            iframe {
                width: 560px;
                height: 315px;
            }
            .video-footer{
                position: fixed;
                bottom: 0;
                width: 100%;
                color: white;
                text-align: center;
                padding: 10px 40px;
                font-size: 20px;
            }
            .picturebox{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .picturebox a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: linear-gradient(20deg, rgb(131, 64, 255) 20%, rgb(131, 64, 255) 11%, rgb(89, 0, 255) 80%);
                }
                    .picturebox .fa {
                            font-size: 70px;
                            position: absolute;
                            z-index: 1;
                            
                        }
                    .picturebox img{
                        width: 100%;
                    }
                    .picturebox img:hover {
                        opacity: 0.75;
                    }
.container.video.show > .video-background{
    display: inline-block;
    
}
.video-background > .video-header > .fa {
    display: inline-block;
    width: 100%;
    color: #999;
    display: inline-block;
    float: right;
    font-size: 20px;
    padding: 10px 0px;
    width: 50px;
    cursor: pointer;
}